html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  float: left;
}

.flo {
  float: left;
  text-align: center;
}

html{
	font-family: 'Mukta Mahee', sans-serif;
}


.info {
	background-color: white;
	height: 100%;
	width: 100%;
}

.header1 {
	font-family: 'Nanum Gothic', sans-serif;
  color: black;
}

.header2 {
   font-family: 'Nanum Gothic', sans-serif;
   color: red;
   
}

.header44 {
	font-family: 'Mukta Mahee 400', sans-serif;
  color: black;
  padding-bottom: 122px;
  text-align: center;
}

p {
 font-family: 'Nanum Gothic', sans-serif;
 margin-bottom: 16px;
 color: black;
}

strong {
	font-family: 'Lato';
	font-size: 20px; 
	font-style: bold;


}

.title {
 right: 0;
 top: 0;
 left: 0;
font-family: 'Bowlby One SC', cursive;
color: white;
font-size: 34px;
width: 100%;
margin-top: 0;
padding-left: 20px;
padding-top: 20px;
padding-bottom: -5px;
font-weight: bold;
text-align: center;
 background-color: white;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}


.clip-circle {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.clip-circle1 {
  object-fit: contain;
  object-position: center;
  width: 90%;
  height: 220px;
  
}

.people {
	margin-left: 22px;
}

ul {
  list-style-type: none;
}

h2 {
color: black;
font-size: 25px;
padding-bottom: 25px;
padding-top: 25px;
}

.lg {
	font-size: 22px;
}

.al {
display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
padding-top: 5px;
padding-bottom: 45px;
}

  .container {
  width: 100%;
  margin: 15;
  padding-right:7%;
    padding-left: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}

  .container2 {
  width: 100%;
  margin: 15;
  padding-right:22%;
    padding-left: 22%;
    padding-top: 5%;
    padding-bottom: %;
}

.black-border {
    border-color: lightgray;
    padding-right:22%;
    padding-left: 22%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .padding {
  	padding-right: 5%;
    padding-left: 5%;
  }

   .padding1 {
    padding-right: 5px;
    padding-left: 5px;
  }

  #demo {
  	text-align: center;
  }

.startdiv {
	position: fixed;
}

.pair {
	font-size: 16px;
}






textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}




.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
   position: relative; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
  padding: 10px 40px;
  padding-top: 10px;
  margin: 20px 5px 5px 5px;
  float: left;
  border-radius: 5px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style:;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;

  
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  
  
}

.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.red1
{
  background-color: #ffb3b3;
  border-bottom: 5px solid #BD3E31;
 
}

.green
{
  background-color: #d9ffb3;
  border-bottom: 5px solid #669644;
 
}

.yellow
{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
  
}

.table-bordered {
  border: 1px solid #ddd !important;
}

table caption {
  padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    display: none;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

  .striped-border {
        border: 1px dashed #000;
        width: 50%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }


.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.verticalLine {
  border-right: 1px solid #ccc;
  margin: 0 1em;

}







